[defaults]
inventory = inventories/dev/hosts.yml
roles_path = ./ansible/roles
host_key_checking = True
retry_files_enabled = False
interpreter_python = auto_silent
stdout_callback = default
callbacks_enabled = ansible.posix.profile_tasks

[ssh_connection]
pipelining = True
